# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Libraries
bower_components
node_modules/
jspm_packages/

# Builds
build/Release
typings/
*.tsbuildinfo
*.tgz
dist/

# Others
.npm
.eslintcache
.node_repl_history
.yarn-integrity
.env
.env.test

# WebStorm
out/
.idea
*.iml

# npm
package-lock.json
