body {
  font-family: 'Merriweather Sans', sans-serif !important;
  height: 100vh;
}

.page-loader {

  .campus-image {
    margin-top: -40px;
    margin-bottom: 40px;
  }

  .campus-image img {
    max-width: 90%;
    width: 600px;
  }

  .logo img {
    max-width: 75%;
  }

}

