@import "../globals.scss";

.classrooms {
  height: calc(100vh - 90px); // minus header size
  max-height: calc(100vh - 90px);
  padding: 0;

  .page-options {
    position: relative;

    .filter-box {
      padding: 15px 25px;

      .column-guidelines {
        top: -15px;
        bottom: -15px;
      }
    }

    .selects {
      padding-top: 20px;
      padding-bottom: 21px;
    }

    &.mobile-fixed {
      padding: 30px;
    }
  }



  @include media-breakpoint-up(lg) {
    padding: 20px 50px;
  }

  .classrooms-row {
    height: calc(100% - 35px);

    > div {
      margin-bottom: 25px;
    }
  }
}

.new-box {
  background: #a2bbdd33;
  padding: 15px 25px;
}




