@import "../globals.scss";

.classrooms {
  height: calc(100vh - 90px); // minus header size
  max-height: calc(100vh - 90px);
  padding: 0;

  .filter-box {
    padding: 15px 25px;

    .column-guidelines {
      top: -15px;
      bottom: -15px;
    }
  }

  .selects {
    padding-top: 20px;
    padding-bottom: 21px;
  }

  @include media-breakpoint-up(lg) {
    padding: 20px 50px;
  }

  .classrooms-row {
    margin-top: 15px;
    height: calc(100% - 90px);
  }
}

.new-box {
  background: #a2bbdd33;
  padding: 15px 25px;
}




