@import "../../globals.scss";

.classrooms-list {

  margin: 0;
  padding: 0;

  .item-container {
    margin: 5px 15px;

    .row-guidelines {
      left: -15px;
      right: -15px;
    }
  }

  .item-content {
    padding: 10px 10px;
    border: 2px solid;

    @include pencil-solid-border;
  }

  .classroom-state-svg-container {
    $statuses:
      0 #f00,
      1 #ff0,
      2 $free-classroom-color,
      3 #00f;

    @each $statusCode, $color in $statuses {
      &.status#{$statusCode} svg {
        fill: $color
      }
    }
  }

  .classroom-state, .classroom-selected {
    position: absolute;
    z-index: -1;
    @include pencil-solid-border;

    svg {
      width: 14px;
    }
  }

  .classroom-state {
    top: 0;
    left: 0;
    width: 15px;
    border-right: 2px solid;
  }

  .classroom-selected {
    top: 0;
    right: 0;
    width: 15px;
    border-left: 2px solid;
  }

  .classroom-name {
    padding-left: 14px;
  }

}
