@import "../../globals.scss";

.classroom-details {

  thead th, tr, td {
    border: 2px solid #BDBABA;
  }

  thead th, tr:first-child {
    border-top: none;
  }

  thead th:last-child, td:last-child, tr {
    border-right: none;
  }

  thead th, td:first-child, tr {
    border-left: none;
  }

  tr:last-child {
    border-bottom: none;

    td {
      border-bottom: none;
    }
  }

  .info-table {
    border: 2px solid;
    @include pencil-solid-border;

    table {
      margin-bottom: 0;
    }
  }

  .details {
    margin-bottom: 15px;
    z-index: 10;
  }

  .buttons-box {
    padding: 25px 30px;
  }
}
