symbol {
  overflow: visible;
}

.map-terrace {
  fill: #e0e0e0;
  stroke: gray;
  stroke-width: 3px;
}

.map-outline {
  fill: #d7d7dc;
  stroke: gray;
  stroke-width: 3px;
}

.map-bathroom {
  fill: #a2bbdd;
}

.map-stairs {
  fill: plum;
  fill-opacity: 0.7;
  /*
  stroke: black;
  stroke-width: 1;
   */
}

.map-space {
  fill: #bdbdbd;
  fill-opacity: 0.6;
}

.map-exit-symbol {
  fill: #269463;
}

.map-bathroom-symbol, .map-elevator-symbol {
  fill: #000;
}
