@import "../globals.scss";

.page-header {

  position: relative;
  height: 90px;
  z-index: 0;

  .header-wrapper {
    height: 80px;
  }

  .bottom-border {
    @include pencil-solid-border;
    border-bottom: 3px solid;
    opacity: 0.6;
  }

  .page-logo {
    .logo-wrapper {
      padding: 5px;
    }

    img {
      height: 60px;
      padding: 5px 15px;
    }
  }

  .page-nav {
    padding: 15px 25px;

    li {
      padding: 7px 0;

      a {
        color: #1F3356;
        font-size: 18px;
        padding: 4px 25px;
      }

      a:hover {
        text-decoration: none;
      }

      a.active {
        background-image: url(/static/vectors/nav-hover.svg);
        background-size: 90px;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
      }


    }
  }

  .horizontal-sketch {
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 32px;
    width: 100%;

    border-top: 3px solid;
    border-bottom: 3px solid;
    @include pencil-dashed-border;
    opacity: 0.4;
    z-index: -1;
  }

  .vertical-logo-sketch {
    position: absolute;
    left: 35px;
    top: 0;
    bottom: 10px;
    width: 252px;

    border-left: 3px solid;
    border-right: 3px solid;
    @include pencil-dashed-border;
    opacity: 0.4;
    z-index: -1;
  }

  .page-header-loader {
    height: 3px;
    background-color: $color-secondary-0;
    display: none;
  }

}
